<h1><a href="{{ "/" | relLangURL }}" class="post-link">{{ site.Title }}</a></h1>

<header class="hero">
    <div>
        {{ $avatar := resources.Get "images/avatar.jpg" }}
        {{ $avatarResized := $avatar.Resize "200x" }}
        <img src="{{ $avatarResized.RelPermalink }}"
            alt="Via Odyssey">
        <div class="hero-text">
            <div>
                Paris - Athènes à pied<br>
                FR 🇫🇷 → CH 🇨🇭 → IT 🇮🇹 → GR 🇬🇷
            </div>
            <div style="padding: 0.5rem 0;">
                Nathalie &amp; Jérôme
            </div>
            <div style="font-size: 80%;color: var(--text-muted); line-height: 1.33rem;">
                👋 Vous pouvez nous contacter sur <a href="https://mountains.social/@viaodyssey">Mastodon</a>
                ou par <a href="mailto:hello@viaOdyssey.net">email</a>
            </div>
        </div>
    </div>
</header>
